.homeContainer {
  padding-bottom: 60px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.buttonContainer button {
  display: block;
  font-size: 22px;
  margin: 20px 0px;
  padding: 5px 20px;
  cursor: pointer;
  background-color: rgb(67, 155, 67);
  border: 0.5px solid rgb(28, 37, 41);
  border-radius: 5px;
  width: 220px;
  color: rgb(238, 238, 238);
  box-shadow: 1px 1px 2px #1a1a1a;
}

.buttonContainer button:hover {
  background-color: rgb(61, 141, 61);
  font-weight: 600;
  box-shadow: 1px 2px 3px #1a1a1a;
}
